#root {
  display: flex;
  flex-direction: column;
}
.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100rem;
}

.blob-container {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  position: relative;
}

#blobSvg1 {
  position: absolute;
  top: 11rem;
  right: -4rem;
}

#blobSvg2 {
  position: absolute;
  top: 5rem;
  left: 2rem;
}

#blobSvg3 {
  position: absolute;
  top: 22rem;
  right: 19rem;
}
